# Archivos y carpetas de IntelliJ IDEA
*.iws
out/
*.ipr
*.txt


# Archivos de compilación de Java
*.class
*.jar
*.war
*.ear

# Archivos temporales y del sistema
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Configuración específica de sistema operativo
# macOS
__MACOSX/

# Windows
*.exe
*.dll

# Linux
*~

# Archivos de test temporales
test-output/
